<div class="row m-1" style="width: 100%;">

<% @promotions.each do |promo| %>

  <div class="card border-secondary mb-3 m-1" style="max-width: 18rem;">

    <% if promo.used == false %>
      <div class="card-header"><span class="badge badge-pill badge-success">AVAILABLE</span></div>
    <% else%>
      <div class="card-header"><span class="badge badge-pill badge-secondary">USED</span></div>
    <% end %>

    <div class="card-body text-secondary">
      <h5 class="card-title text-info">Code: <%= promo.code %></h5>
      <div> <span style="color: #333333;">Creation Date:</span><span style="color: #888888;font-size:14px;"> <%= format_date(promo.created_at) %></span></div>
      <div> <span style="color: #333333;">Modified Date:</span><span style="color: #888888;font-size:14px;"> <%= format_date(promo.updated_at) %></span></div>
    </div>
  </div>

<% end %>

</div>


