<div class='page-title'>Edit User</div>

<div class='container container_form_user'>
  <%= render 'edit_form' %>
  <%= button_to('<< Back', user_path(@user['attributes']['id']),  method: :get, class: 'btn btn-sm btn-outline-secondary') %>
</div>
