<div class='page-title'>New User</div>

<div class='container container_form_user'>
  <%= render 'new_form' %>
  <%= button_to('<< Back', root_path,  method: :get, class: 'btn btn-sm btn-outline-secondary') %>
</div>