<div class='page-title'>Edit User</div>

<div class='container container_form_user'>
  <%= render 'form' %>
  <%= button_to('<< Back', @user,  method: :get, class: 'btn btn-sm btn-outline-secondary') %>
</div>
